@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Montserrat:wght@700&display=swap');

:root {
  --primary-color: #009688;
  --secondary-color: #ff6600;
  --background-color: #f4f4f4;
  --text-color: #333;
}

/* Reset de estilos para garantir uma base consistente */
body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
}

p {
  line-height: 1.5;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('Img/imagem-de-fundo.jpg') center/cover no-repeat;
  background-image: url('Img/imagem-de-fundo.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  padding: 20px;
}

header img {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 2em;
  font-family: 'NomeDaFonte', sans-serif;
}

.hero-section {
  background: url('imagens/hero-background.jpg') center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

nav {
  margin-top: 20px;
}

nav a {
  color: var(--secondary-color);
  text-decoration: underline;
  margin: 0 10px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

nav a.active {
  color: var(--secondary-color);
}

nav a i {
  margin-right: 5px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  transition: transform 0.5s ease;
}

section {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

h2 {
  color: var(--primary-color);
}

p {
  line-height: 1.5;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

footer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
