body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; /* Changed from #87cf2d for a lighter background */
  color: #333; /* Changed for better contrast */
}

header {
  background-image: url("Img/imagem-de-fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  font-family: 'Roboto', sans-serif; /* Added a more elegant font */
}

nav a:hover {
  background-color: #68a81f;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif; /* Added a more elegant font */
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
  color: #333; /* Changed for better contrast */
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.chamada-para-acao {
  text-align: center;
  margin-top: 20px;
}

.chamada-para-acao a {
  background-color: #87cf2d;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.imagem img {
  width: 100%;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galeria img {
  width: 30%;
  margin: 5px;
  border-radius: 5px; /* Added rounded corners for visual interest */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); /* Added a subtle shadow */
}

footer {
  background-color: #68a81f;
  color: #fff;
  padding: 10px;
  text-align: center;
}
